.infopopup-link {
   color: #186FAD;
   border-bottom: 1px dotted #000;
   text-decoration: none;
   font-style: italic;
}
.species_stats_table {
   width: 50%;
}
.species_stats_table td {
   padding: 2px 4px !important;
}
.species_stats_table thead, .species_stats_table thead a {
   font-weight: bold;
}

#stats_help_box {
   border: 1px solid grey;
   padding: 3px;
   width: 20%;
}

#speculative_button_link, #speculative_button_link2 {
     background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     /* border-bottom:1px solid #444;  */
     color: blue;
     cursor: pointer;
}

.species_list_speculative { 
    width:9em;
    display:inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bold;
}
